@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  color: rgb(229, 231, 235);
  background-color: black;
  font-size: 12px;
  gap: 1rem;
}

footer img {
  max-height: 1.5rem;
}
