@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page-container {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    'header'
    'main'
    'footer';
  justify-items: center;
}

header {
  grid-area: header;
  font-size: 2rem;
  padding: 16px;
}

main {
  grid-area: main;
}

.board {
  display: grid;
  grid-template:
    repeat(3, minmax(150px, 250px)) /
    repeat(3, minmax(150px, 250px));
  /* padding: 64px; */
  gap: 8px;
}

.cell {
  cursor: pointer;
  border: none;
  font-size: 96px;
}

.player-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    'avatar'
    'name'
    'token';
  place-items: center;
  font-size: 48px;
}

.player img {
  grid-area: avatar;
  width: 150px;
  height: auto;
}

.player .token {
  grid-area: token;
}

.player .player-name {
  grid-area: name;
}

#player-turn {
  font-size: 2rem;
  align-self: start;
  padding-top: 64px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  color: rgb(229, 231, 235);
  background-color: black;
  font-size: 12px;
  gap: 1rem;
}

footer img {
  max-height: 1.5rem;
}
